{
  "nickname": "albot",
  "github": {
    "organisation": "",
    "token": "",
    "gravatar": false,
    "repo_filters": [""],
    "debug": false
  },
  "hipchat": {
    "channel": "",
    "token": "",
    "frequency": 6000
  },
  "deploy": {
    "exec": "",
    "args": [],
    "branchArg": "{{branch}}",
    "env": [],
    "aliases": {},
    "gistId": ""
  },
  "changelog": {
    "gistId": ""
  }
}
