{
  "nickname": "albot",
  "github": {
    "organisation": "",
    "token": "",
    "repo_filter": "",
    "debug": false
  },
  "hipchat": {
    "channel": "",
    "token": "",
    "frequency": 6000
  }
}
